/* 
    Document   : estilos
    Created on : 17/02/2012, 15:15:36
    Author     : João
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

*::selection { color: transparent; background: transparent}

* { outline: none}

root { 
  display: block;
}

.float-left { float: left}
.clear { clear: both}

body { font-family: monospace; background: #666} 

/*.sala { width: 14px; height:22px; padding-left: 8px}*/

.screen { width: 640px; height: 480px; margin: auto; background: #fff; position: relative;}
#view { border: 1px double #999; width: 320px; height: 240px; margin: auto}
#view .porta { width: 85px; height: 160px; position: absolute; top: 65px; left: 116px; cursor: pointer }


.sala {width: 14px; height: 14px; float: left; border: 1px solid #000; }

#prev {
  left: 0px;
}

#next {
  right: 0px;
}

.turnBtn{
  position: absolute;
  display: block;
  top: 0px;
  cursor: pointer;
  background: #ccc;
  border: 1px solid #000;
  font-size: 60px;
  padding: 84px 20px;
}

.turnBtn:active {
  background: #bbb;
}


.bt { border-top: 1px solid #fff}
.br { border-right: 1px solid #fff}
.bb { border-bottom: 1px solid #fff}
.bl { border-left: 1px solid #fff}


#end {
  position: absolute;
  width: 105px;
  height: 170px;
  background: #d00;
  top: 54px;
  left: 106px;
  border: 1px solid;
  border-bottom: 0px;
  text-align: center;
}
#end:before{
  content: 'EXIT'
}

#key {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 10px;
  height: 20px;
  background: #0d0;
  cursor: pointer;
}

.locker{
  position: absolute;
  width: 105px;
  height: 170px;
  background: #ccc;
  top: 54px;
  left: 0px;
  border: 1px solid;
  text-align: center;
}